<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/500Error.css">
        <link rel="shortcut icon" href="../static/img/fav.png" type="image/x-icon">
        <title>500</title>
    </head>
    <body>
        <div class="error-container">
            <div class="error-number">500</div>
            <div class="error-message">Oops, there was an Internal Server Error!</div>
            <div class="response">It's not you, it's us! We're trying to fix it 😭. Please try again in a few minutes.</div>
            <br>
            <img src="../static/img/cogs.png" height="250" width="250" alt="cogs">
        </div>
    </body> 
</html>