<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../static/img/fav.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/scrollbar.css">
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Message History</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Mini-Messenger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/direct-messages">Direct Messages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/message-history">Message History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Log Out</a>
                </li>
              </ul>
            </div>
        </nav>

        <h2 class="title">Message History!</h2>
          <div class="chat">
              <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <div class="date">2021-03-04 3:52 AM</div>
              </div>
              <div class="other-message">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.                <div class="date">2021-03-04 3:52 AM</div>
              </div>
                <div class="message">Pharetra magna ac placerat vestibulum lectus. Tortor id aliquet lectus proin. Felis donec et odio pellentesque diam volutpat commodo. Mattis rhoncus urna neque viverra justo nec ultrices dui. Ornare massa eget egestas purus viverra accumsan in. Tempor commodo ullamcorper a lacus vestibulum. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Scelerisque varius morbi enim nunc faucibus a pellentesque sit. Convallis tellus id interdum velit. Amet nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Nunc pulvinar sapien et ligula. Tempor orci dapibus ultrices in iaculis.                <div class="date">2021-03-04 3:52 AM</div>
              </div>
              <div class="other-message">hey, what's up?
                <div class="date">2021-03-04 3:52 AM</div>
              </div>
              <div class="message">nothing much
                <div class="date">2021-03-04 3:52 AM</div>
              </div>
              <div class="other-message">hey, what's up?
                <div class="date">2021-03-04 3:52 AM</div>
              </div>
          </div>
    </body>
</html>