<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/form.css">        
        <link rel="stylesheet" href="../static/css/newLogin.css">
        <link rel="shortcut icon" href="../static/img/mLogoFavicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Messenger - Log In</title>
    </head>
    <body>
        <form>
            <img src="../static/img/mLogo-nobg.png" alt="Messenger-logo">
            <h3>Messenger</h3>
            <h6>Chat to your heart's content!</h6>
            
            <div class="session-expired-target"></div>
            <br>
            <label for="username">Username</label>
            <input type="text" id="" name="userName" class="" placeholder="User Name">
            <label for="password">Password</label>
            <input type="password" id="" name="password" class="" placeholder="New Password">
            <div class="error-message-target"></div>
            <br>
            <button type="submit" class="btn btn-primary btn-sm btn-block">Log In</button>       
            <hr>    
            <!-- <button type="button" id="create-account-button" class="btn btn-success btn-sm btn-block">Create Account</button>  -->
            <!-- <a href="/">Forgot Password?</a> -->
        
            <button type="button" id="create-account-button" class="btn btn-success btn-sm btn-block">Create Account</button>
            
            <!-- <a href="/signup" class="btn btn-primary btn-sm btn-block" role="button" aria-pressed="true">Create New Account</a> -->
            <!-- <a href="/signup">
            </a> -->
        </form>
       
        <script src="../static/js/signin.js"></script>
    </body>
</html>