<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/form.css">
        <link rel="stylesheet" href="../static/css/signup.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="../static/img/mLogoFavicon.png" type="image/x-icon">
        <title>Messenger - Sign Up</title>
    </head>

    <body>
        <form>
            <img src="../static/img/mLogo-nobg.png" alt="Messenger-logo">
            <h1>Sign Up</h1>            
            
            <input type="text" name="userName" id="username-inputbox" placeholder="User Name">
            <div class="error-message-username" style="color: red;"></div>
           
            <br>
            <input type="password" name="password" id="password-inputbox" placeholder="New Password at least 6 characters">
            <div class="error-message-password" style="color: red;"></div>
            <br>
            <a href="/signin">Already have an account?</a>
            <hr>    
            <button type="submit" class="btn btn-success btn-sm btn-block">Create Account</button> 

            <!-- <a href="/signup" class="btn btn-success btn-sm btn-block" role="button" aria-pressed="true">Create New Account</a> -->
            <!-- <a href="/signup">
            </a> -->
        </form>

        <script src="../static/js/signup.js"></script>
    </body>
</html>