@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body{
    background-image: url("../img/gradientBackgroundOne.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.error-container{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
}

.error-number{
    font-size: 100px;
}

.error-message {
    font-size: 40px;
}