@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body{
    background-image: url("../img/gradientBackgroundOne.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width:  85vw;
    height: 80vh;
    margin: auto;
    margin-top: 2%;
    font-family: 'RocknRoll One', sans-serif;
}

::-webkit-scrollbar-track {
    background: rgb(50, 70, 90); 
}

/* 
* This section will style the sidebar, which will contain all of the users chats that they're in
*
*/
.sidebar{
    display: grid;
    grid-template-rows: 80px 60vh auto;
    background-color: purple;
}

.sidebar > .chats-title{
    display: grid;
    background-color: rgb(50, 70, 90);
}

.sidebar > .chats-title > h1{
    color: white;
    margin: auto;
}

.sidebar > .group-chats{
    overflow-y: auto;
    background-color: white;
}

.sidebar > .group-chats > .group-chat-name{
    padding: 15px;
    background-color:rgb(50, 70, 90);
}

.sidebar > .group-chats > .group-chat-name > div{
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar > .add-new-chat{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-group, .send-new-message{
    display: grid;
    background-color: rgb(50, 70, 90);
    /* background-color: rgb(67, 86, 162); */
    border: 1px solid black;
}

.new-group > div, .send-new-message > div{
    margin: auto;
    color: white;
}

.sidebar > .group-chats > div:hover,
.sidebar > .group-chats > div:focus,
.sidebar > .add-new-chat > .new-group:hover,
.sidebar > .add-new-chat > .send-new-message:hover {
    background: rgb(50, 70, 160);
    cursor: pointer;
}

.sidebar > .group-chats > div:active,
.sidebar > .add-new-chat > .new-group:active,
.sidebar > .add-new-chat > .send-new-message:active  {
    background: rgb(122, 184, 235);
}

.sidebar > .group-chats > div.clicked-color {
    background: rgb(122, 184, 235);
}

/**************************************/
/*       END OF SIDE BAR STYLING!     */
/**************************************/

/* 
* This section will style the chat, which will contain all of the users messages that they're in
*
*/
.chat-container{
    display: grid;
    grid-template-rows: 1fr 7fr auto;
    min-height: 0;
}

.chat-container > .chat{
    background-color: rgb(240, 240, 240);
    overflow-y: scroll;
}

/* .chat-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
} */

.chat-container > .message-container{
    display: grid;
}

.chat-container > .chat-title{
    background-color: white;
    font-family: 'RocknRoll One', sans-serif;
    border-bottom: 1px solid black;
}  

.chat-container > .chat-title > .title-text{
    color: rgb(50, 70, 90);
    margin-left: 20px;
    font-size: 25px;
}

/* 
Message styling
*/
.date, .username {
    color: rgb(200, 200, 200);
    padding: 5px;
    font-size: 80%;
}

.chat > div{
    border-radius: 15px;
    padding: 10px;
    color: white;
    width: fit-content;
    max-width: 80%;
}

.chat > .message {
    background-color: blue;
    margin: 5px 10px 10px auto;
}
  
.chat > .other-message {
    background-color: gray;
    margin: 10px auto 10px 10px;
}
/**************************************/
/*       END OF CHAT STYLING!     */
/**************************************/

/* Icon styling */
i{
    margin: auto;
    /* font-size: 1.6rem;  */
    color: rgb(240, 240, 240);
}