@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body{
    background-image: url("../img/gradientBackgroundOne.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width:  85vw;
    height: 80vh;
    margin: auto;
    margin-top: 2%;
    font-family: 'RocknRoll One', sans-serif;
}


/* 
* This section will style the sidebar, which will contain all of the users chats that they're in
*
*/
.sidebar{
    display: grid;
    grid-template-rows: 80px 60vh auto;
    background-color: purple;
}

.sidebar > ::-webkit-scrollbar-track {
    background: rgb(50, 70, 90); 
}

.sidebar > .chats-title{
    display: grid;
    background-color: rgb(50, 70, 90);
}

.sidebar > .chats-title > h1{
    color: white;
    margin: auto;
}

.sidebar > .group-chats{
    overflow-y: auto;
    background-color: white;
}

.sidebar > .group-chats > .group-chat{
    padding: 15px;
    background-color:rgb(50, 70, 90);
}

.sidebar > .group-chats > .group-chat > div{
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.group-chat-name{
    font-weight: bold;
}

.sidebar > .add-new-chat{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-group, .send-new-message{
    display: grid;
    background-color: rgb(50, 70, 90);
    /* background-color: rgb(67, 86, 162); */
    border: 1px solid black;
}

.new-group > div, .send-new-message > div{
    margin: auto;
    color: white;
}

.sidebar > .group-chats > div:hover,
.sidebar > .group-chats > div:focus,
.sidebar > .add-new-chat > .new-group:hover,
.sidebar > .add-new-chat > .send-new-message:hover {
    background: rgb(50, 70, 160);
    cursor: pointer;
}

.sidebar > .group-chats > div:active,
.sidebar > .add-new-chat > .new-group:active,
.sidebar > .add-new-chat > .send-new-message:active  {
    background: rgb(122, 184, 235);
}

.sidebar > .group-chats > div.clicked-color {
    background: rgb(122, 184, 235);
}

/**************************************/
/*       END OF SIDE BAR STYLING!     */
/**************************************/

/* 
* This section will style the chat, which will contain all of the users messages that they're in
*
*/
.chat-container{
    display: grid;
    grid-template-rows: 1fr 7fr auto;
    min-height: 0;
}

.chat-container > .chat{
    display: grid;
    background-color: rgb(240, 240, 240);
    overflow-y: scroll;
    align-items: end;
}

.chat-container > ::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
}

.chat-container > .message-container{
    display: grid;
}

.chat-container > .chat-title{
    display: inline-flex;
    background-color: white;
    border-bottom: 1px solid black;
}  

.chat-container > .chat-title > .title-text{
    color: rgb(50, 70, 90);
    padding: 10px 0;
    margin-left: 20px;
    margin-right: auto; /*pushes the icon to the right*/
    font-size: 25px;
}

.chat-container > .chat-title > i {
    font-size: x-large;
    margin-right: 15px;
    padding: 5px 0;
}

i:hover{
    color: rgb(65, 105, 225);
    text-shadow: 0 0 10px rgb(65, 105, 225);
}

 i:active {
    color: rgb(65, 15, 225);
}


/**************************************/
/*       END OF CHAT STYLING!     */
/**************************************/

/* 
Message styling
*/
.date, .username {
    color: rgb(200, 200, 200);
    padding: 5px;
    font-size: 80%;
}

.chat > .chat-inner > div{
    border-radius: 15px;
    padding: 10px;
    color: white;
    width: fit-content;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.date-and-comment-removal{
    display: inline-flex;
    justify-content: space-between;
}

.date-and-comment-removal > i:hover{
    cursor: pointer;
}

.chat > .chat-inner > .your-message {
    background-color: blueviolet;
    margin: 5px 10px 10px auto;
}
  
.chat > .chat-inner > .other-user-message {
    background-color: gray;
    margin: 10px auto 10px 10px;
}

/* 
* chat member list styling
*/

.chat-member-list{
    margin: auto;
    max-height: 200px;
    overflow-y: scroll;
}

.add-border{
    border: 1px solid black;
}

.chat-member > h5 {
    margin-right: auto;
}

.chat-member{
    width: 100%;
    display: inline-flex;
    margin: auto;
    padding: 10px;
}

.chat-member:hover{
    background-color: darkgrey;
}