@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.error-container{
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
}

.error-container > div{
    padding: 20px;
}

.error-number{
    font-size: 100px;
    color: white;
    text-shadow: 5px 5px black;
}

.error-message {
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px black;
}