form{
    margin-top: 7%;
}

form > input{
    width: 80%;
    border-radius: 10px;
}

.error-message{
    width: 80%;
    text-align: left;
    margin-left: 10%;
}

.add-border{
    border: 1.5px solid red;
}